@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication

@model TKE.ViewModels.Dolgozo.BejelentkezesViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Bejelentkezés";
    ViewData["ReturnUrl"] = "~/Dolgozo";
}


<h2>@ViewData["Title"]</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form asp-controller="Dolgozo" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <fieldset>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="Azonosito" class="form-control" placeholder="Email" />
                    </div>
                    <span asp-validation-for="Azonosito" class="text-danger"></span>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input asp-for="Jelszo" class="form-control" placeholder="Jelszó" />
                    </div>
                    <span asp-validation-for="Jelszo" class="text-danger"></span>
                    <div class="form-group input-group">
                        <button type="submit" class="btn btn-primary">Belépés <i class="glyphicon glyphicon-log-in"></i></button>
                    </div>
                </fieldset>
            </form>
         </div>
    </div>
</div> <!-- /container -->


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
