@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Kijelentkezés";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="form-horizontal" role="form">
                <fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary">Kilépés</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div> <!-- /container -->


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
